* {
    margin: 0;
}
body{
    background: #ECEEF1;
}

/* The header begins */

header {
    display: flex;
    /* background-color: yellow; */
    justify-content: right;
    padding: 10px 0 10px 0;
}

.signIn {
    display: flex;
    flex-direction: column;
}

.signinButton input {
    height: 40px;
    margin-right: 15px;
    width: 100px;
    margin-left: 15px;
    background: #0077C5;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.signinTwo {
    margin-top: 5px;
}

.signinTwo a {
    text-decoration: none;
}


/* The header ends */


/* Form Begins */

section {
    width: 600px;
    height: 700px;
    margin: auto;
    background: #fff;
}

.intuit-logo img {
    height: 70px;
    width: 250px;
}

.formTitle {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: grey; */
}

.form-logos {
    display: flex;
}

.form-logos img {
    height: 50px;
    width: 50px;
}

.formTitle a {
    text-decoration: none;
    font-size: 20px;
    color: grey;
    position: relative;
}


/* Form Ends */


/* Form Body Begins */

.form-section {
    display: flex;
    flex-direction: column;
   align-items: center;
}
.email-field,.tel-field,.password-field{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.submit-button{
    text-align: center;
}
form h3,p,.learn-more{
    text-align: center;
}
.submit-button input{
    background: #0077C5;
    border: #0077C5;
    margin-top: 30px;
    width: 150px;
    height: 40px;
    border-radius: 4px;
    color: #fff;
}